/* HEADER */

body {
overflow-x: hidden;
}
a {
  text-decoration: none;
}

header > .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 20;
}
.inner .main-menu .item__name:hover {
  color: chocolate;
}
.inner .main-menu .item__name .inner:hover {
  border-bottom: 2px solid #e1251b;
}
.inner > .logo {
  padding: 30px;
}
.inner > .btn .material-icons {
  margin-right: 30px;
}

/* 헤더 */
.main-menu {
  position: relative;
  display: flex;
}
.main-menu .item__name {
  font-size: 25px;
  font-weight: 600;
  color: black;
  padding: 30px;
}
header .inner .btn .langchangebtn {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 21px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
header .inner .btn .langchangebtn2 {
  font-size: 16px;
  background-color: white;
  border: 1px solid #c5c5c5;
  border-radius: 21px;
  width: 80px;
  height: 60px;
  cursor: pointer;
  margin-right: 10px;
  
}
header .inner .btn .langchangebtn2con {
  margin-left: 10px;
}


/* 드롭다운 */
.main-menu .item__contents {
  width: 100%;
  left: 0;
  position: fixed;
  display: none;
  background-color: white;
  border-top: 1px solid #e1251b;
  margin-top: 30px;
}
.main-menu .item:hover .item__contents {
  display: block;
}
.main-menu .item__contents > ul {
  display: flex;
  /* padding: 20px 0; */
  /* margin-top: 20px; */
  justify-content: center;
}
.main-menu .item__contents > ul > li{
  /* 상세 메뉴 가로 너비를 통일 */
  width: 300px;
  height: 260px;
  margin-top: 15px;
  /* background-color: aqua; */
}
.main-menu .item__contents > ul > li h3 a {
  padding: 10px 0 15px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  box-sizing: border-box;
}
.main-menu .item__contents > ul > li h3 {
  margin-bottom: 16px;
}
.main-menu .item__contents > ul > li h3 a:hover {
  color: chocolate;
}
header .main-menu .item .item__contents > ul > li ul li a {
  padding: 5px 0;
  font-size: 18px;
  color: #7b7b7b;
  box-sizing: border-box;
  line-height: 1.5;
}
header .main-menu .item .item__contents > ul > li ul li a:hover {
  color: black;
}
/* 헤더 버튼 */
.btn {
  display: flex;
  align-items: center;
}

.btn .langchangebtn {
  margin-right: 50px;
}

/* 메인 */
.main .main-intro {
  margin: 0 176px 0 ;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main .main-text {
  justify-content: center;
  align-content: center;
  padding: 200px 0;
  height: 900px;
}
.main .main-text > h1 {
  color: #e1251b;
  font-size: 150px;
  font-weight: 600;
}
.main .main-text > p {
  margin: 76px 0 0 787px;
  font-size: 30px;
  line-height: 1.5;
}
.main .circle {
  position: absolute;
  margin-top: 800px;
  animation-name: turn;
  animation-duration: 4s;
  animation-fill-mode: both;
  overflow: hidden;
  bottom: -250px;
}
@keyframes turn {
  100% {transform: rotate(360deg)}
}

/* swiper */
.main2 {
  position: relative;
}
.main2 .swiper .swiper-wrapper .swiper-slide .slidetext {
  position:absolute;
  color: white;
  font-size: 50px;
  bottom: 500px;
  left: 300px;
}
.main2 .swiper .swiper-wrapper .swiper-slide .slidetext2 {
  position: absolute;
  color: white;
  font-size: 50px;
  bottom: 500px;
  left: 300px;
}
.main2 .swiper .swiper-wrapper .swiper-slide .slidetext3 {
  position: absolute;
  color: white;
  font-size: 50px;
  bottom: 500px;
  left: 300px;
}
.main2 span {
  position: absolute;
  font-size: 40px;
  color: white;
  cursor: pointer;
  z-index: 5;
}
.main2 .swiper img {
  height: 100vh;
  width: 100%;
}
.main2 .swiper video {
  width: 100%;
  height: 100vh;
}
/* .main2 .swiper-pagination {
  bottom: 50px;
  z-index: 1;
} */


/* latest news */

.news {
  height: 1088px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.news > .inner {
  height: 100%;
  width: 100%;
  max-width: 1552px;
  margin: 0 auto;
  padding: 200px 50px;
  box-sizing: border-box;
}
.news > .inner > h2 {
  font-size: 100px;
  font-weight: 500;
  color: #e1251b;
  text-align: left;
}
.news > .inner > h2 b {
  font-weight: 600;
}
.news > .inner > a {
  position: absolute;
  top: 287px;
  right: 500px;
  padding: 15px 89px 15px 0;
  min-width: 191px;
  font-size: 20px;
  color: black;
  font-weight: 900;
}
.news .inner .news-content  {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.news .inner .news-content .news-content-1 img {
  width: 464px;
  height: 312px;
  border-radius: 15px 15px 0 0;
}
.news .inner .news-content .news-content-2 img {
  width: 464px;
  height: 312px;
  border-radius: 15px 15px 0 0;
  border: none;
}
.news .inner .news-content .news-content-3 img {
  width: 464px;
  height: 312px;
  border-radius: 15px 15px 0 0;
}

.news .inner .news-content h6 {
  height: 68px;
  max-height: 68px;
  font-size: 20px;
  font-weight: 900;
  text-overflow: ellipsis;
  line-height: 1.5;
  padding: 32px;
  color: black;
  /* font-family: sans-serif; */
}
.news .inner .news-content p {
  font-size: 20px;
  padding: 0 32px 0;
  color: black;
}

/* newslink */
.newslink {
  height: 660px;
  background-color: #e1251b;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}
.newslink .newsroom {
  height: 100%;
  width: 50%;
  border-right: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.newslink .Investors {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newslink .newsroom .text h3 {
  font-size: 60px;
  font-weight: 900;
}
.newslink .newsroom .text p {
  font-size: 24px;
  font-weight: 900;
  margin: 30px 0;
}
.newslink .newsroom .text a {
  font-size: 50px;
  color: white;
}
.newslink .Investors .text h3 {
  font-size: 60px;
  font-weight: 900;
}
.newslink .Investors .text p {
  font-size: 24px;
  font-weight: 900;
  margin: 30px 0;
  line-height: 1.3;

}
.newslink .Investors .text a {
  font-size: 50px;
  color: white;
}
/* technology moveOn */
.technology-moveOn {
  position: relative;
  height: 1616px;
  min-height: 1080px;
  background-image: url(/img/img_tech_bg1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 30px;
}
.technology-moveOn .inner {
  width: 100%;
  max-width: 1552px;
  min-height: 1080px;
  padding: 200px 50px;
  margin: 0 176px 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.technology-moveOn .inner .icons img {
  width: 100px;
  height: 130px;
  padding: 30px;
}
.technology-moveOn .inner .icons:first-child {
  border-top: 1px solid #e1251b;
}
.technology-moveOn .inner .content .title b {
  font-weight: 900;
}
.technology-moveOn .inner .content .title {
  color: #e1251b;
  font-size: 100px;
  font-weight: 500;
}
.technology-moveOn .inner .content {
  margin-left: 200px;
}
.technology-moveOn .inner .content > p {
  margin-top: 60px;
  font-size: 25px;
  line-height: 1.7;
}
.technology-moveOn .inner .content .content-item {
  line-height: 1.7;
}
.technology-moveOn .inner .content .content-item h3 {
  font-size: 35px;
  color: gray;
  margin-top: 30px;
  font-weight: 600;
}
.technology-moveOn .inner .content .content-item p {
  font-size: 26px;
  color: gray;
}
.technology-moveOn .inner .content .content-item a {
  color: black;
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  top: 800px;
}
/* 움직이는 텍스트 */

.animated-title {
  font-size: 300px; 
  font-weight: 300; 
  position: relative; 
  width: 100%;
  max-width: 100%; 
  height: auto; 
  padding: 100px 0; 
  color: gray;
  font-weight: 900;
  opacity: 0.4;
}
.animated-title .track { 
  position: absolute ; 
  white-space: nowrap ;
  will-change: transform ;
  animation: marquee 60s linear infinite ; }
  
@keyframes marquee {
  from { transform: translateX(0) ; }
  to { transform: translateX(-50%) ; }
}

/* ESG REPORTS */
.esg-report {
  width: 100%;
  height: 1080px;
  background-color: #ccc;
  box-sizing: border-box;
  background-image: url(/img/bg_esg_report.jpg);
  background-repeat: no-repeat;
}
.esg-report .inner {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1552px;
  margin: 0 auto;
  padding: 200px 50px;
}
.esg-report .inner b {
  font-size: 100px;
  font-weight: 900;
}
.esg-report .inner h2 {
  font-size: 100px;
}
.esg-report .inner p {
  font-size: 24px;
  line-height: 1.7;
  margin-top: 30px;
  font-weight: 500;
}
.esg-report .inner a {
position: absolute;
font-size: 24px;
font-weight: 900;
top: 280px;
right: 200px;
color: black;
}

/* RECRUITE */
.recruite {
  width: 100%;
}
.recruite .inner {
  height: 1080px;
  padding: 200px 50px;
  margin: 0 180px;
}
.recruite .inner .imgwrap {
  position: relative;
  width: 1452px;
  height: 1008px;
  margin: 0 auto;
}
.recruite .inner p {
  position: absolute;
  right: 420px;
  top: 320px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
.recruite .inner b {
  font-size: 60px;
  font-weight: 600;
}
.recruite .inner .imgwrap .img_recruit1 {
  position: absolute;
  left: 50px;
  transition: 1s;
}
.recruite .inner .imgwrap .img_recruit2 {
  position: absolute;
  right: 70px;
  top: 150px;
  transition: 2s;
}
.recruite .inner .imgwrap .img_recruit3 {
  position: absolute;
  right: 0;
  bottom: 300px;
  transition: 4s;
}
.recruite .inner .imgwrap .img_recruit4 {
  position: absolute;
  right: 100px;
  bottom: 50px;
  transition: 5s;
}
.recruite .inner .imgwrap .img_recruit5 {
  position: absolute;
  bottom: 0;
  left: 200px;
  z-index: 5;
  transition: 6s;
}
.recruite .inner .imgwrap .img_recruit6 {
  position: absolute;
  bottom: 200px;
  transition: 7s;
}
.recruite .inner .imgwrap .btn {
  position: absolute;
  right: 650px;
  top: 650px;
  min-width: 170px;
  height: 50px;
  border-radius: 60px;
  border: none;
  background-color: #e1251b;
  color: white;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}

/* STOCK */
.stock {
  width: 100%;
  height: 230px;
  background-color: #e1251b;
}
.stock .inner {
  width: 100%;
  height: 100%;
  margin: 0 70px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
}
.stock .stockInfo {
  display: flex;
  align-items: center;
  border-right: 1px solid white;

}
.stock .stockInfo strong {
  font-size: 50px;
  font-weight: 900;
  color: white;
  margin-right: 70px;
}
.stock .inner .btnIR {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  margin-left: 100px;
}
.stock .inner .material-symbols-outlined {
  display: flex;
  align-items: center;
  color: white;
}
.stock .inner .stockInfo .stockIframe {
  align-items: center;
  margin-top: 40px;
}


/* footer */
.footer .inner {
  position: relative;
  height: 340px;
  margin: 0 174px;
  padding: 100px 50px 0;
}
.footer .footerlink {
  line-height: 1.6;
}
.footer .footerlink a {
  color: #e1251b;
  font-size: 24px;
  font-weight: 900;
}
.footer .footerlink a:first-child{
  margin-right: 60px;
}
.footer .footerinfo {
  line-height: 1.7;
  font-size: 20px;
  font-weight: 400;
}
.footer .inner .wamark {
  position: absolute;
  width: 140px;
  height: 90px;
  right: 0;
  bottom: 100px;
}

/* to-top */
#to-Top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9;
}